body
{
  background-color: rgb(151, 245, 248);

}

/* <!---- Links Section start ----> */

#links {
  border-style: double;
  background-color: #caebf2;
  position: fixed;
  z-index: 10;
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
}

#links ul {
  margin: 30px auto;
  padding: 0 20px;
  text-align: center;
}

#links li {

  color: white;
  background-color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
  border-style: dotted;
  width: 110px;
  display: inline-block;
  cursor: pointer;
}

#links :hover {
  color: #fa003b;
}
#links .active {
  color: white;
}
#links :visited {
  color: unset;

}


/* <!---- Links Section end ----> */

#Main-Photo
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: double;
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
  border-radius: 50%;
  border-color: red;
  

}

/* <!---- About Me Section start ----> */

#aboutme
{
  color: black;
  background-color: #caebf2;
  border-style: solid;
  border-color: darkgreen;
  border-style: solid;
  padding: 60px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 50px;
  font-weight: bold;
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
}




/* <!---- About Me Section end ----> */




